  <ion-app>
    <ion-content padding>
      <h3 id="title">
        {{ cadastrando ?  'CADASTRO' : 'SISTEMA DE PEDIDOS' }}
      </h3>
      <img src="assets/imgs/login.png" alt="logo" class="logo">
      <form #loginForm="ngForm" (submit)="onSubmit()">
        <ion-item>
          <ion-label class="login-labels">Username:</ion-label>
          <ion-input name="email" type="text" placeholder="Digite seu login"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="login-labels">Password:</ion-label>
          <ion-input name="senha" type="password" placeholder="Digite sua senha"></ion-input>
        </ion-item>
        <div>
          <ion-button size="large" class="login-button" type="submit" *ngIf="!cadastrando">Entrar</ion-button>
          <ion-button size="large" class="register-button" (click)="preparaCadastro($event)">Registrar</ion-button>
          <ion-button size="large" class="login-button" (click)="cancelaCadastro()" *ngIf="cadastrando">Voltar</ion-button>
        </div>
      </form>
    </ion-content>
</ion-app>
